
@{
    ViewBag.Title = "Questions";
}

@model mvcPlayground.Models.QuestionModel


<h3>@ViewBag.Title</h3>
<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Question)
                @Html.TextBoxFor(model => model.Question, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Question)
            </div>

            @foreach (var Answer in Model.Answers.OrderBy(x => x.Order))
            {
                @Html.Partial("Answer", Answer)
            }
        </div>
    }
</div>