
@{
    ViewBag.Title = "Survey";
}

@model mvcPlayground.Models.SurveyModel

<div class="row">

    <div class="col-sm-12">
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>

    <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
            @if (Model != null)
            {
                foreach (var Section in Model.Sections.OrderBy(x => x.Name))
                {
                    <li>
                        <a href="#section-@Section.Id" data-toggle="tab">
                            @Section.Name
                        </a>
                    </li>
                }
            }

            <li class="active">
                <a href="#section-new" data-toggle="tab">
                    +
                </a>
            </li>
        </ul>
    </div>

    <div class="col-sm-9">
        <div class="tab-content">
            @if (Model != null)
            {
                foreach (var Section in Model.Sections.OrderBy(x => x.Name))
                {
                    <div id="section-@Section.Id" class="tab-pane fade">
                        @Html.Partial("Section", Section)
                    </div>
                }
            }

            <a href="#">+</a>
        </div>
    </div>

    <div class="form-group">
        <a href="@Url.Action("Save", "Survey")" class="btn btn-primary">Save</a>
        <a href="@Url.Action("Index", "Survey")" class="btn btn-default">Back</a>
    </div>
</div>