
@{
    ViewBag.Title = "Survey";
}

@model mvcPlayground.Models.Survey

@using (Html.BeginForm("Save", "Survey", new { survey = Model }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row form-group">
        <div class="col-sm-12 form-group">
            @Html.LabelFor(model => model.Name)
            @Html.DisplayFor(model => model.Name)

            @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" onclick="edit(@Model.Id)" >Open Modal</button>*@
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-3 form-group">
            <div class="form-group">
                <ul class="nav nav-pills nav-stacked">
                    @if (Model.Sections != null)
                {
                    foreach (var Section in Model.Sections.OrderBy(x => x.Order))
                    {
                            <li>
                                <a href="#section-@Section.Id" data-toggle="tab">
                                    @Section.Name
                                </a>
                                    @Html.ActionLink("^", "MoveUp", "Section", new { id = Section.Id }, new { @class = "btn btn-default" })
                                    @Html.ActionLink("v", "MoveDown", "Section", new { id = Section.Id }, new { @class = "btn btn-default" })
                                @*@if (Section.Order > 0)
                                {
                                }
                                @if (Section.Order < Model.Sections.Count())
                                {
                                }*@
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="form-group">
                @*<input type="button" class="btn btn-primary" value="+" />*@
                @Html.ActionLink("+", "AddSection", "Survey", new { id = Model.Id }, new { @class = "btn btn-default" })
            </div>
        </div>

        <div class="col-sm-9">
            <div class="tab-content">
                @if (Model.Sections != null)
                {
                    foreach (var Section in Model.Sections.OrderBy(x => x.Name))
                    {
                        <div id="section-@Section.Id" class="tab-pane fade">
                            @Html.Partial("Section", Section)
                        </div>
                    }
                }

                @*<a href="#">+</a>*@
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12 form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back", "Index", "Survey", null, new { @class = "btn btn-default" })
        </div>
    </div>
}