
@{
    ViewBag.Title = "Section Edit";
}

@model mvcPlayground.Models.Section

@using (Html.BeginForm("Save", "Section"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.SurveyId)

    <div class="row form-group">
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back", "Index", "Section", new { id = Model.Id }, new { @class = "btn btn-default" })
        </div>
    </div>
}